@import "tailwindcss";

@theme {
  /* font */
  --font-Inter : 'Inter', sans-serif;
  --font-Archivo : 'Archivo', sans-serif;
  /* colors */
  --color-primary: #1a1a1a;
  --color-secondary: #818181;
  --color-accent: #ff4a01;
  --color-accent-lighter: #ff9367;
  --color-additional : #c4b1ac;
  --color-zappify : #0e172b;
  --color-zappify-lighter : #14555e;
}

.container {
  @apply mx-auto;
}

img {
  object-fit: cover;
}